**.git
**.github
**.idea
**.gitignore
**.gitattributes
**.editorconfig
**.data
**.env
**.vscode
**.hooks
**.test
**.docker_official
**Docker_official

# Ignoring all the markdown and class files
*.md
**/*.class
